/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  min-width: 375px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 668px;
  block-size: 100vh;
  position: relative;
  margin-block-end: 40px;
  padding-inline: 10px;
}

.decorated {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-block-start: 1px solid var(--theme-color);
  border-inline-end: 1px solid var(--theme-color);
}

.container__rec::before {
  content: "rec";
  position: absolute;
  color: var(--theme-color);
  font-family: var(--main-text), sans-serif;
  text-transform: uppercase;
  font-size: 1.125rem;
  top: 0;
  right: 0px;
  padding-inline-end: 27px;
}

.container__rec::after {
  content: "";
  position: absolute;
  background-color: var(--theme-color);
  height: 9px;
  width: 9px;
  top: 8px;
  right: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
}

.header__title {
  font-family: var(--main-text), sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--focus-color);
  text-shadow: 4px 4px var(--accent-color);
  margin-block-end: 55px;
  justify-self: baseline;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  font-size: 1.125rem;
  margin-block-end: 67px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--main-text), sans-serif;
  margin-block-start: 75px;
}

.header__theme-menu-item {
  align-self: center;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--theme-color);
  text-transform: lowercase;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--button-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--theme-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--theme-color);
}

.title-decore {
  font-family: var(--main-text), sans-serif;
  font-size: 1.125rem;
  line-height: 23.4px;
  font-weight: bold;
  color: var(--title-color);
  background-color: var(--accent-color);
  max-height: 117px;
  width: 100%;
  word-break: normal;
}

.container__element {
  position: absolute;
  border-inline-start: 1px solid var(--theme-color);
  border-block-end: 1px solid var(--theme-color);
  inline-size: 25px;
  block-size: 25px;
  left: 10px;
  bottom: 10px;
}

/* конец шапки, начало секции */

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 10px;
  margin-block-end: 50px;
}

.container__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__grid-container {
  display: grid;
  gap: 20px;
}

.heading-decore {
  color: var(--theme-color);
  font-size: 1.125rem;
  font-family: var(--main-text), sans-serif;
  font-weight: 700;
}

.desc-decore {
  color: var(--desc-color);
  font-size: 1.125rem;
  font-family: var(--main-text), sans-serif;
  font-weight: 400;
  line-height: 23.4px;
}

.slogan-link {
  text-shadow: 1px 1px var(--accent-color);
  text-decoration: none;
}

.slogan-link:hover {
  border-block-end: 1px solid var(--desc-color);
  cursor: pointer;
}

.slogan-link:focus {
  outline: 1px solid var(--desc-color);
}

.title-decor_type_light {
  font-weight: 400;
}

.gallery {
  display: grid;
  justify-items: center;
  gap: 10px;
}

.images {
  width: 100%;
}

.section__last {
  display: grid;
  gap: 10px;
  margin-block-end: 40px;
}

/* footer */

.footer {
  display: grid;
  position: relative;
  min-height: 668px;
  block-size: 100vh;
  align-items: center;
  justify-content: center;
}

.element-top {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-block-start: 1px solid var(--theme-color);
  border-inline-end: 1px solid var(--theme-color);
}

.footer__title {
  font-family: var(--main-text), sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--focus-color);
  text-shadow: 2px 2px var(--lightDark-color);
}

.element-bottom {
  position: absolute;
  border-inline-start: 1px solid var(--theme-color);
  border-block-end: 1px solid var(--theme-color);
  inline-size: 25px;
  block-size: 25px;
  left: 10px;
  bottom: 10px;
}

.grid__container {
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    padding-inline: 20px;
    margin-block-end: 60px;
  }

  .header__theme-menu-list {
    margin-block-start: 192px;
  }

  .header__theme-menu {
    margin-block-end: 173px;
  }

  .header__title {
    grid-column: span 2;
    margin-block-end: 162px;
    margin-inline-start: -20px;
    line-height: 99px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }

  .title-decore {
    grid-column: 2;
    width: 100%;
  }

  .title-gallery {
    grid-column: 1;
    margin-block-end: 10px;
  }

  .decorated {
    top: 20px;
    right: 20px;
  }

  .container__element {
    left: 20px;
    bottom: 20px;
  }

  .section {
    padding-inline: 20px;
    margin-block-end: 80px;
  }

  .section__last {
    margin-block-end: 60px;
  }

  .section__grid-column {
    display: grid;
    grid-template-columns: max-content 2fr;
  }

  .grid__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .heading-decore {
    width: 236px;
  }

  .gallery {
    grid-template-columns: repeat(max-content, 1fr);
    grid-template-rows: repeat(max-content, 1fr);
    gap: 20px;
  }

  .images {
    object-fit: cover;
    width: 100%;
  }

  .images__sun {
    height: 192px;
    grid-column: span 2;
  }

  .images__ice {
    height: 442px;
    grid-column: 3;
    grid-row: span 2;
  }

  .images__tape {
    height: 568px;
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .images__books {
    height: 230px;
    grid-column: 2;
    grid-row: 2;
  }

  .images__street {
    height: 318px;
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .footer {
    min-height: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .element-top {
    top: 20px;
    right: 20px;
  }

  .element-bottom {
    left: 20px;
    bottom: 20px;
  }
}

@media (width >= 1024px) and (orientation: landscape) {
  .header {
    justify-items: center;
    min-height: 768px;
    margin-block-end: 60px;
  }

  .header__title {
    line-height: 129px;
    margin-block-end: 114px;
  }

  .header__theme-menu {
    margin-block-end: 273px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    margin-block-start: 20px;
  }

  .title-decore {
    max-height: 71px;
  }

  .heading-decore {
    width: 100%;
    max-width: 315px;
  }

  .section__grid-column {
    margin-block-end: 80px;
  }

  .section__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .images__sun {
    height: 260px;
  }

  .images__ice {
    height: 595px;
  }

  .images__tape {
    height: 768px;
  }

  .images__books {
    height: 315px;
  }

  .images__street {
    height: 433px;
  }

  .footer {
    min-height: 768px;
  }
}
